<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="/style/style.css">
   <title>Album new jeans</title>
</head>
<body>
 
   <div class="box" id="heading">
      <ul>
         <h1>(Message Card ver) NewJeans - 1st Single Album OMG New Jeans </h1>
         <h2>update <%= kindOfDay %></h2>  
      </ul>
   </div>

   <section id="NewJeans">
      <div class="row" style=" justify-content: center;">
       <div class="col-md-5 mx-auto from-image "  padding-top: 10px; >
         <img src="/image/newjeans-album-full.jpg" width="500" height="500" alt="fullnj" >
       </div>

       <div class="col-md-6 mx-auto from-group ">
            <div class="Text">
               <h3> [SET FULL ALBUM] - NewJeans 1st Single 'OMG'</h3>
               <h5><s>฿9,600</s> ฿4,200</h5>
               <a class="btn btn-dark " href="/product1" role="button">NEWJEANS</a>
               <a class="btn btn-outline-dark" href="/product2" role="button">HAERIN</a>
               <a class="btn btn-outline-dark" href="/product3" role="button">HANNI</a>
               <div class="textinfo">
                  <h6>NEWJEANS - 1ST SINGLE ALBUM [OMG] MESSAGE CARD ver  </h6>
                     <h6>VERSION: NEWJEANS / MINJI / HANNI / DANIELLE / HAERIN / HYEIN </h6>
                        <h6>OUT BOX: 129*174*21mm</h6>
                           <h6>MESSAGE CARD: 125*170mm | 25ea</h6>
                              <h6> PHOTOBOOK: 125*170mm | 52p</h6>
                                 <h6> LYRIC PAPER: 125*170mm | 12p</h6>
                                    <h6> CD-R: 120*120mm</h6>
                                       <h6>PHOTOCARD: 55*85mm | 5ea</h6>
                                          <h6>STICKER: 125*170mm   </h6>
   
               </div>
            </div>
       </div>
      </div>
 
      </section>

     <section id ="information">
       <div class="row" style=" justify-content: center;">
         <input type="image" name="fullnj" img src="/image/ImageViewer.jpg" alt="" >
         
      </div>
      <a class=" col-md-12 btn btn-dark mx-auto " href="/product1" role="button">UP</a>
              
     </section>



</body>
</html>


